---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from "astro:content";
import { FaRegArrowAltCircleRight } from "react-icons/fa";
import { certificates } from '../data/Certificates';

// Ambil semua proyek dari collection
const websiteProjects = await getCollection("website");
const gameProjects = await getCollection("games");

// Gabungkan semua proyek
const projects = [...websiteProjects, ...gameProjects];

// Sortir berdasarkan title (fallback jika tidak ada title)
projects.sort((a, b) => (a.data.title || "").localeCompare(b.data.title || ""));

const sortedCertificates = certificates.sort((a, b) => a.title.localeCompare(b.title));
---

<Layout seo={{ title: "Alexander Agung Raya" }}>
  <Welcome />  
  <section class="container mx-auto p-6 flex flex-col items-center">
    <h2 class="text-3xl font-bold mb-4 text-center">Personal Projects</h2>

    {projects.length > 0 ? (
      <ul class="w-full max-w-2xl">
        {projects.slice(0, 3).map((project) => (
          <li class="mb-4">
            <h3 class="font-semibold">{project.data.title}</h3>
            <p>{project.data.description}</p>
            <p> tech : {project.data.stack.map((tech: { name: string }) => tech.name).join(", ")}</p>
            <a href={`/projects/${project.id}`} class="text-blue-500">Read more</a>
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-gray-500">No projects available.</p>
    )}

  <a href="/projects" class="text-blue-500 font-semibold">See More <FaRegArrowAltCircleRight className="inline-block ml-1" /></a>  
</section>

<section class="container mx-auto px-6 py-8 flex flex-col items-center">
  <h1 class="text-3xl font-bold mb-6 text-center text-white">Certificates</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-5xl">
    {sortedCertificates.map((certificate) => (
      <a 
        href={certificate.link} 
        target="_blank" 
        rel="noopener noreferrer"
        class="bg-gray-800 p-5 rounded-xl shadow-md flex items-center gap-4 hover:scale-105 transition-transform cursor-pointer"
      >
        <img 
          src={certificate.image} 
          alt={certificate.title} 
          class="w-24 h-24 md:w-28 md:h-28 object-cover rounded-lg shadow-md"
        />
        <div>
          <h2 class="text-lg font-semibold text-white">{certificate.title}</h2>
          <p class="text-sm text-gray-400">{certificate.description}</p>
          <p class="text-xs text-blue-400 mt-2 font-semibold">{certificate.tag}</p>
        </div>
      </a>
    ))}
  </div>

  <a href="/Certificates" class="text-blue-400 font-semibold mt-6 flex items-center gap-1 hover:text-blue-300 transition">
    See More <FaRegArrowAltCircleRight className="inline-block" />
  </a>
</section>

</Layout>