---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/ui/Footer.astro';
import { getCollection } from "astro:content";
const websiteProjects = await getCollection("website");
const gameProjects = await getCollection("games");
const projects = [...websiteProjects, ...gameProjects];

// const matches = import.meta.glob('./posts/*.mdx', { eager: true });
// const games = await getCollection('games');
// const content = Object.values(matches);

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

projects.sort((a: any, b: any) => a.data.title.localeCompare(b.data.title));
---

<Layout seo={{ title: "Alexander Agung Raya" }}>
	<Welcome />  

  <section>
    <h2 class="text-3xl font-bold mb-4">Personal Projects</h2>
    <ul>
      {projects.slice(0, 3).map((project: any) => (
        <li class="mb-4">
          <p>{project.data.description}</p>
          <a href={`/projects/${project.slug}`} class="text-blue-500">Read more</a>
        </li>
      ))}
    </ul>
    <a href="/projects" class="text-blue-500 font-semibold">See More →</a>
  </section>

	<!-- <h1>Games</h1>
<ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {games.map((game) => (
    <li>
      <h2>{game.data.title}</h2>
      <p>{game.data.description}</p>
      <img src={game.data.image} alt={game.data.title} />
    </li>
  ))}
</ul> -->



	<Footer />
</Layout>
