---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Footer from "../components/ui/Footer.astro";

const website = await getCollection("website");
const games = await getCollection("games");
---

<Layout>
  <div class="md:max-xl:flex bg-white dark:bg-black text-black dark:text-white min-h-screen flex items-center justify-center">
    <div class="container mx-auto p-4">
      <h1 class="text-5xl font-bold mb-4">Projects</h1>
      <h1 class="text-3xl font-bold mb-4">Website</h1>
      <ul>
        {website.map((project) => (
          <li class="mb-4">
            <h2 class="text-xl font-semibold">{project.data.title}</h2>
            <p>{project.data.description}</p>
            <a href={`/website/${project.data.slug}`} class="text-blue-500 dark:text-blue-300">Read more</a>
          </li>
        ))}
      </ul>
      <h1 class="text-3xl font-bold mb-4">Games</h1>
      <ul>
        {games.map((game) => (
          <li class="mb-4">
            <h2 class="text-xl font-semibold">{game.data.title}</h2>
            <p>{game.data.description}</p>
            <a href={`/games/${game.data.slug}`} class="text-blue-500 dark:text-blue-300">Read more</a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</Layout>
<Footer />