---
import { certificates } from '../data/Certificates';

// Urutkan berdasarkan title sertifikat
const sortedCertificates = certificates.sort((a, b) => a.title.localeCompare(b.title));
---

<section class="container mx-auto px-6 py-8 flex flex-col items-center">
  <h1 class="text-3xl font-bold mb-6 text-white text-center">All Certificates</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
    {sortedCertificates.map((certificate) => (
      <a 
        href={certificate.link} 
        target="_blank" 
        rel="noopener noreferrer"
        class="bg-gray-800 p-5 rounded-xl shadow-md flex items-center gap-4 hover:scale-105 transition-transform cursor-pointer"
      >
        <img 
          src={certificate.image} 
          alt={certificate.title} 
          class="w-24 h-24 md:w-28 md:h-28 object-cover rounded-lg shadow-md"
        />
        <div>
          <h2 class="text-lg font-semibold text-white">{certificate.title}</h2>
          <p class="text-sm text-gray-400">{certificate.description}</p>
          <p class="text-xs text-blue-400 mt-2 font-semibold">{certificate.tag}</p>
        </div>
      </a>
    ))}
  </div>
</section>
